<<<<<<< Updated upstream
=======
.Description {
    font-family: "Akaya Telivigala";
    font-weight: 100;
    font-size: 24px;
    grid-area: Description;
    text-align: center;
    text-justify: auto;
    margin: 20px;
    @include text-shadow;
  }

  .ColumnImg {
    grid-area: Columna-Img;
    max-height: 200px;
    max-width: 200px;
    min-height: 100px;
    min-width: 100px;
    width: 200px;
    height: 200px;
  }
  
  .ColumnImg2 {
    grid-area: Columna-Img2;
    width: 200px;
    height: 200px;
    justify-content: space-evenly;
  }

  .ImageInColumn {
    width: 200px;
    height: 200px;
    max-width: 300px;
    max-height: 300px;
    min-width: 50px;
    min-height: 50px;
    justify-content: flex-start;
    border-style: dotted;
  }
  
.TextoLabel {
  text-align:center;
  font-weight: 50;
  font-size: 22px;
  margin-top: 50px;
  grid-area: Columna-Img;
  @include text-shadow;
}

.Details{
 text-align:center;
 font-weight: 50;
 font-size: 22px;
 grid-area: Details;
 @include text-shadow;
}

.style-del-texto{
  font-weight: 50;
  font-size: 22px;
  height: 100px;
  grid-area: Columna-Img2;
  @include text-shadow;
}
>>>>>>> Stashed changes
