.GridContainer2 {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: repeat (2, 1fr);
  gap: 30px 0px;
  grid-template-areas:
    "ThanksMessage ThanksMessage ThanksMessage"
    "Footer Footer Footer";
}

.ThanksMessage {
  color: $PrimaryColor;
  background-color: $SecondaryColor;
  text-decoration:underline;
  text-decoration-line:underline;
  text-decoration-color: $DecorationColor; 
  font-weight: 100;
  text-align: center;
  text-justify: center;
  grid-area: ThanksMessage;
  font-family: "Akaya Telivigala";
  text-shadow: $TextShadow;
}

.Footer {
  position: sticky;
  bottom: end;
}