.Tittle {
    font-family: "Akaya Telivigala";
    font-weight: 600;
    grid-area: Tittle;
    background-color: $SecondaryColor;
    padding: 1fr 1fr 1fr 1fr;
    font-size: 24;
    color: lightblue;
    text-decoration-style: double;
    text-decoration-line: underline;
    text-decoration-color: lightgreen;
    text-align: center;
    justify-content: auto;
    border: gold;
    border-width: 5px;
    border-style: double;
    border-color: gold;
  }