.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px 10px;
    max-width: 100%;
    max-height: 1400px;
    height: 1200px;
    grid-template-areas:
      "Tittle Tittle Tittle Tittle Tittle"
      ". Description Description Description ."
      "Menu-Nav . Columna-Img . Columna-Img2"
      "Menu-Nav . Columna-Img . Columna-Img2"
      "Menu-Nav . Columna-Img . Columna-Img2";
  }
  
  Header {
    grid-area: Tittle;
    justify-content: center;
    text-align: center;
    text-justify: center;
  }
  
  