.nv {
    margin-top: 200px;
    background-color: $SecondaryColor;
    text-decoration-line: underline;
    text-decoration-color: lightgreen;
    color: $PrimaryColor;
    border: gold;
    border-width: 5px;
    border-style: double;
    border-color: gold;
    justify-content: center;
    align-content: center;
    text-justify: initial;
    text-align: center;
    position: fixed;
    justify-content: center;
    align-content: center;
    text-justify: initial;
  }
  
  .nav {
    color: rgb(5, 112, 112);
    text-decoration-style: dotted;
    font-size: 26px;
    text-decoration-line: underline;
    text-decoration-color: lightgreen;
    padding: 1fr 1fr 1fr 1fr;
    margin: 10px 10px 10px 0px;
    text-justify: inherit;
    text-align: inherit;
  }
  .Menu-Nav {
    position: fixed;
    grid-area: Menu-Nav;
    max-width: 105px;
    max-height: 250px;
  }  