$PrimaryColor: #E0FFFF;

$SecondaryColor: #FFA098;

$UnderlineColor: #7BD17B;

$NavTextColor: #90EE90;

$TittleColor: #ADD8E6;

$NavColor: #057070;

$BordersColor: #FFD700;

$BackgroundColor: #B3E6F7;

$DecorationColor: #000;

$TextShadow: 1px 0 0 #000, 0-1px 0 #000, -1px 0 0 #000;

@mixin text-shadow {
  text-decoration-line:underline;
  text-shadow: $TextShadow;
  color: $SecondaryColor;
}