@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
.Description {
  font-family: "Akaya Telivigala";
  font-weight: 100;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 24px;
  text-shadow: 1px 0 0 #000, -1px 0 #000, -1px 0 0 #000;
  color: #FFA098;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: Description;
  text-align: center;
  text-justify: auto;
  margin: 20px;
}

.ColumnImg {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: Columna-Img;
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
  width: 200px;
  height: 200px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ColumnImg2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  grid-area: Columna-Img2;
  width: 200px;
  height: 200px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ImageInColumn {
  width: 200px;
  height: 200px;
  max-width: 300px;
  max-height: 300px;
  min-width: 50px;
  min-height: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-style: dotted;
}

.GridContainer2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat 3, 1fr;
      grid-template-columns: repeat 3, 1fr;
  -ms-grid-rows: repeat 2, 1fr;
      grid-template-rows: repeat 2, 1fr;
  gap: 30px 0px;
      grid-template-areas: "ThanksMessage ThanksMessage ThanksMessage" "Footer Footer Footer";
}

.ThanksMessage {
  color: #E0FFFF;
  background-color: #FFA098;
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #000;
          text-decoration-color: #000;
  font-weight: 100;
  text-align: center;
  text-justify: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: ThanksMessage;
  font-family: "Akaya Telivigala";
  text-shadow: 1px 0 0 #000, -1px 0 #000, -1px 0 0 #000;
}

.Footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: end;
}

.Tittle {
  font-family: "Akaya Telivigala";
  font-weight: 600;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: Tittle;
  background-color: #FFA098;
  padding: 5px;
  font-size: 24;
  color: #ADD8E6;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #90EE90;
          text-decoration-color: #90EE90;
  text-align: center;
  border: #FFD700;
  border: 5px double #FFD700;
}

.GridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  gap: 10px 10px;
  max-width: 100%;
  max-height: 1400px;
  height: 1200px;
      grid-template-areas: "Tittle Tittle Tittle Tittle Tittle" ". Description Description Description ." "Menu-Nav . Columna-Img . Columna-Img2" "Menu-Nav . Columna-Img . Columna-Img2" "Menu-Nav . Columna-Img . Columna-Img2";
}

Header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: Tittle;
  text-align: center;
  text-justify: center;
}

.TextoLabel {
  display: block;
}

.Nav {
  margin-top: 200px;
  background-color: #FFA098;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #90EE90;
          text-decoration-color: #90EE90;
  color: #E0FFFF;
  border: 10px double #FFD700;
  text-justify: initial;
  text-align: center;
  position: fixed;
  text-justify: initial;
}

.nav {
  color: #057070;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  font-size: 26px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #90EE90;
          text-decoration-color: #90EE90;
  padding: 10px;
  margin: 10px 10px 10px 0px;
  text-justify: inherit;
  text-align: inherit;
}

.MenuNav {
  position: fixed;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: Menu-Nav;
  max-width: 105px;
  max-height: 250px;
}

body {
  background-image: url(https://i.pinimg.com/originals/71/32/3c/71323cbd5c15223a9252f2b6d1c9117c.png);
  background-color: #B3E6F7;
  font-family: "Akaya Telivigala";
  max-height: 1600px;
}

main {
  background-image: url(https://i.pinimg.com/originals/71/32/3c/71323cbd5c15223a9252f2b6d1c9117c.png);
  background-color: #B3E6F7;
  font-family: "Akaya Telivigala";
  max-height: 1600px;
}
/*# sourceMappingURL=index.css.map */